package ${table.packageName}.${module}.dao;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Repository;
import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.*;
import ${table.packageName}.commons.base.BaseDao;
import ${table.packageName}.entity.${table.className}Entity;

/**
 * ${shuoming}数据接口
 * @author: ${author}
 * @email:  ${mail}
 * @date:   ${nowDate}
 * @since 1.0.0
 */
@Mapper
public class ${table.className}Mapper  {




}